:root{
  --color1: #ffd700;
  --color2: #E71D36;
  --color3: #7699D4;
  --color4: #1f005d;
  --color5: #0F002E;
  --color6: #6DAEDB;
  --color7: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

*{
  color: var(--color1);
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: var(--color5);
  position: relative;
}

#root{
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; */
  height: 100%;
}

.flex-r{
  display: flex;
  flex-direction: row;
}

.flex-c{
  display: flex;
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal{
  background-color: var(--color4);
}

.modal .modal-footer{
  background-color: var(--color4);
}

.btn{
  background-color: var(--color3);
  color: var(--color1)
}
.btn:hover{
  background-color: var(--color6);
  color: var(--color7)
}
.btn:focus{
  background-color: var(--color3);
  color: var(--color1)
}